html{
    background: radial-gradient(circle at top, #1a2a6c, #16213e, #000000);
    justify-items: center;
    align-content: center;
    height: 100%;
}

#input-box::placeholder {
  color: #00f5d4; 
}

button{
    color:#00f5d4;
    background-color:#3a0033;
    font-size: 60px;
    border-radius: 6px;
    height: 80px;
    border: solid  1px;
}

.heading{
    color: #c77dff;
    font-size: 80px;
}


.upper-box input {
    color: #00f5d4 ;
    border: 1px solid #0F172B;
    background-color: #1a1a40;
    text-align: center;
    font-size: 50px;
    height: 110px;
    width: 454px;
    border-radius: 4px;
}





.upper-box{
    height: 110px;
    width: 454px;
    background-color:#1a1a40;
    margin-bottom: 30px;
    border-radius: 6px;
    margin-left: 50px;
}

.lower-box{
    display: grid;
    grid-template-columns: 100px 100px 100px 100px ;
    grid-template-rows: 80px 80px 80px 80px 80px;
    gap: 6px;
    background-color: #1a1a40;
    width: 460px;
    height: 460px;
    justify-content: center ;
    align-content: center;
    border-radius: 10px;
    margin-left: 50px;
}


.seven{ order: 0; }
.eight{ order: 1; }
.nine{ order: 2; }


.delete{
 order: 3;
 font-size: 60px; 
 background-color:#ff007c;
 color: white;
}

.four{ order: 4; }
.five{ order: 5; }
.six{ order: 6; }
.plus{ order: 7; }
.one{ order: 8; }
.two{ order: 9; }
.three{ order: 10; }
.minus{ order: 11; }
.dot{ order: 12; }
.zero{ order: 13; }
.divide{ order: 14; }
.multiply{ order: 15; }

.reset{
 order: 16;
 grid-column:span 2 ;
 background-color: #ff007c;
 color: white;
 font-size: 50px;
}

.equal-to{
 order: 17;
 grid-column:span 2 ;
 background-color: red;
 color: white;
}



